body {
  background: url("./assets/background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.gamestore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .app-logo {
    margin: 55px;
  }

  .bundles_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .bundle {
      transition: transform 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}
